<% if @profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= @profile.errors.count %>件のエラーがあります</h2>
    <ul>
    <% @profile.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
