<p><%= @interview.user.name %>さんの面接時間が<%= @interviewer.name %>さんによって、以下の内容で承認されました。</p><br>

<p>日程: <%= @interview.day.strftime("%Y-%m-%d %H:%M") %></p><br>

<p>場所は、株式会社フィードフォースで行います。</p>
<p>今後の連絡は担当人事の方から再度連絡させていただきます。</p><br>

<p>よろしくお願いします。</p>
